<!--<div class="authenticationForm">-->
<!--  <h3>Welcome!<br>Please, Log in</h3>-->

<!--  <div class="example-container">-->
<!--    <mat-form-field appearance="fill" style="width: 20rem;">-->
<!--      <mat-label>Enter your email</mat-label>-->
<!--      <input matInput placeholder="user" [(ngModel)]="user.user">-->
<!--    </mat-form-field>-->
<!--  </div>-->

<!--  <div class="example-container">-->
<!--    <mat-form-field appearance="fill" style="width: 20rem;">-->
<!--      <mat-label>Enter your password</mat-label>-->
<!--      <input matInput placeholder="msg" [(ngModel)]="user.msg">-->
<!--    </mat-form-field>-->
<!--  </div>-->

<!--  <div class="example-button-row">-->
<!--    <button mat-raised-button color="primary" (click)="submit(user)">Submit</button>-->
<!--  </div>-->
<!--</div>-->

