<app-header></app-header>
<div class="content">
  <h1 routerLink="/chats">Chats</h1>
  About "Chats" page
  <hr>
  <h1 routerLink="/dashboard">Dashboard</h1>
  About "Dashboard" page
  <hr>
  <h1 routerLink="/workspace">Work Space</h1>
  About "Work Space" page
  <hr>
  <h1 routerLink="/docs">Docs</h1>
  About "Docs" page
  <hr>
  <h1 routerLink="/checks">Checks</h1>
  About "Checks" page
  <hr>
  <h1 routerLink="/account">Account</h1>
  About "Account" page
  <hr>
  <h1 routerLink="/settings">Settings</h1>
  About "Settings" page
</div>
<app-footer></app-footer>
